[Desktop Entry]
Name=Anifuzz
Comment=Search and watch anime
Exec=anifuzz
Icon=video-television
Terminal=false
Type=Application
Categories=AudioVideo;
